# Temp files
*.bak
*.old
*~
/link/.flexget/received/
/link/.flexget/temp/
/link/.flexget/.*

# Logs
pip-log.txt
*.log
flexget.log*

# Lots of junk goes in here.
/caches/
/backups/
*.sqlite

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
*local*

