[submodule "myanimelist"]
	path = link/.flexget/plugins
	url = git@github.com:edhaker13/myanimelist.git
[submodule "private"]
	path = private
	url = git@github.com:edhaker13/private.git
[submodule "git-extras"]
	path = vendor/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "z"]
	path = vendor/z
	url = git://github.com/rupa/z.git
