[submodule "link/.flexget/plugins"]
	path = link/.flexget/plugins
	url = git@github.com:edhaker13/myanimelist.git
[submodule "link/.private"]
	path = link/.private
	url = git@bitbucket.org:edhaker13/private.git
[submodule "git-extras"]
	path = vendor/git-extras
	url = https://github.com/visionmedia/git-extras
[submodule "z"]
	path = vendor/z
	url = https://github.com/rupa/z
[submodule "vendor/spf13-vim"]
	path = vendor/spf13-vim
	url = https://github.com/spf13/spf13-vim
[submodule "vendor/chromecastize"]
	path = vendor/chromecastize
	url = https://github.com/petrkotek/chromecastize
